body {
  text-align: center;
}

.container {
  padding: 30px 40px;
}

.signup__text {
  margin-bottom: 60px;
}

.signup__form {
  background-color: #fff;
  border-radius: 8px;
  padding: 25px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
}

.signup__form-trial {
  background-color: var(--blue);
  padding: 16px 80px;
  margin-bottom: 25px;
  border-radius: 8px;
  box-shadow: 0 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.signup__form input {
  border: 1px solid var(--grayish-blue);
  padding: 20px 15px;
  width: 88%;
  margin-bottom: 20px;
  border-radius: 5px;
  font-weight: 900;
}

.signup__submit {
  background-color: var(--green);
  padding: 20px 15px;
  width: 100%;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  box-shadow: 0 5px hsl(154, 59%, 45%);
  letter-spacing: 1px;
}

.signup__form-terms {
  color: var(--grayish-blue);
  font-size: 0.75rem;
  margin-top: 20px;
  text-align: center;
}

.signup__form-terms a {
  color: var(--red);
  text-decoration: none;
  font-weight: 700;
}
